In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file1 = 'ashrae-energy-prediction/building_metadata.csv'
file2 = 'ashrae-energy-prediction/train.csv'
file3 = 'ashrae-energy-prediction/weather_train.csv'

building_metadata_df = pd.read_csv(file1)
building_train_df = pd.read_csv(file2)
weather_train_df = pd.read_csv(file3)

In [3]:
building_train_df['timestamp'] = pd.to_datetime(building_train_df['timestamp'])
building_train_df.head()

   building_id  meter  timestamp  meter_reading
0            0      0 2016-01-01            0.0
1            1      0 2016-01-01            0.0
2            2      0 2016-01-01            0.0
3            3      0 2016-01-01            0.0
4            4      0 2016-01-01            0.0

In [4]:
building_train_df.to_csv('ashrae-energy-prediction/train_clean.csv',index=False)

In [73]:
sites = building_metadata_df['site_id'].unique().tolist()

buildings = {}
for site in sites:
    buildings[site] = building_metadata_df[building_metadata_df['site_id']==site]['building_id'].unique().tolist()

temp_df = building_train_df[building_train_df['building_id'] <= max(buildings[0])]
temp_df = temp_df[temp_df['meter_reading'] < max(temp_df['meter_reading'].tolist())]

plt.figure(figsize=(40,20))
sns.lineplot(data=temp_df, x='timestamp', y='meter_reading', hue='building_id')

plt.show();

          building_id  meter           timestamp  meter_reading
0                   0      0 2016-01-01 00:00:00         0.0000
1                   1      0 2016-01-01 00:00:00         0.0000
2                   2      0 2016-01-01 00:00:00         0.0000
3                   3      0 2016-01-01 00:00:00         0.0000
4                   4      0 2016-01-01 00:00:00         0.0000
...               ...    ...                 ...            ...
20213857          101      0 2016-12-31 23:00:00        84.3644
20213858          102      0 2016-12-31 23:00:00        33.3021
20213859          103      0 2016-12-31 23:00:00        39.1790
20213860          103      1 2016-12-31 23:00:00         0.0000
20213861          104      0 2016-12-31 23:00:00       273.3650

[1076661 rows x 4 columns]

In [71]:
# building_metadata_df.iloc[6510005]
# building_train_df.iloc[6510000:6510010]

In [72]:
# building_train_df[building_train_df['timestamp'] == '2016-05-01 19:00:00']['building_id'].value_counts()

In [62]:
# building_train_df['meter_reading'].hist(

# )
# plt.xlim(xmin=0, xmax = 1000000)